.accordion-wrapper {
  width: 100%;
}
.accordion-header button {
  color: black !important;
  font-size: 30px;
  cursor: default;
  display: flex;
  justify-content: center;
}

.accordion-header-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-header-buttons {
  display: flex;
}
.accordion-header-buttons button {
  margin-right: 15px;
}
.accordion-header-text p {
  align-self: center !important;
}
